target
node_modules
.git
images
.*~
*~
Dockerfile*
.*ignore
docker-compose.yml
resources
.drone.yml

**/*.rs.bk
.cache/
.env
.env.test
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs
*.log
